body, div {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	background-image: url("http://i.imgur.com/4dRhBH6.png");
	/*background-image: url('img/pattern2.png');*/
	background-color: #eee;
}
img {
	max-width: 100%;
}
.container {
	width: 65%;
	margin: 0 auto;
	background-color: #fff;
	margin-top: -25px;
	padding: 55px 50px;
}
.container .header h1 {
	font-size: 2.5em;
	background-color: #000;
	color: #fff;
	padding: .25em .45em;
	text-align: center;
}
.container .header {
	padding-bottom: 15px;
}
.container .header h2 {
	font-size: 1.25em;
	line-height: 1.5;
}
.header .header-info {
	float: left;
	width: 35%;
}
.header .header-img {
	float: right;
	width: 52%;
	padding: 10px 0;
}
.main {
	clear: both;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 5px 0 10px;
}
.main h3 {
	font-size: 1.35em;
	margin-bottom: -8px;
}
.main ul {
	margin-left: -20px;
	line-height: 1.5;
}
.main .list-left {
	float: left;
	width: 48%;
}
ul.thumbs-up {
	list-style-image: url("http://www.info-mac.org/images/emoji/e00e.png");
}
ul.thumbs-down {
	list-style-image: url("http://www.perusingtheshelves.com/Smileys/emoji/thumbsdown.png");
}
.main .list-right {
	float: right;
	width: 48%;
}
.social {
	clear: both;
	text-align: center;
	font-size: 1.15em;
	margin-top: 25px;
}
.social a {
	text-decoration: none;
	font-weight: 800;
	color: #3299FF;
}
.highlighter {
	background-color: #FFF883;
	padding: .3em .8em;
}

/* Clearfix */

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 965px) {
	.header .header-img {float: none; width: 100%; padding-bottom: 15px;}
	.header .header-info {float: none; width: 100%;}
	.social {margin-top: 35px;}
	.container .header h2 {text-align: center;}
}

@media (max-width: 765px) {
	.main .list-left {float: none; width: 100%;}
	.main .list-right {float: none; width: 100%;}
	.main h3 {text-align: center;}
	.main ul {margin-left: -15px;}
}




