body, h1, h2, h3, p, img, div, ul {
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	font-weight: 300;
}

.container {
	max-width: 800px;
	margin: 2.4em auto 0;
}

.header h1 {
	font-size: 2.6em;
	color: #D84432;
}

.header h3 {
	font-size: 1.3em;
}

.l-grey {
	color: #D6D6D6;
}

.header .nav {
	font-size: 1.1em;
	margin-top: .6em;
}

.header .nav a {
	text-decoration: none;
	color: #D6D6D6;
}

.header .nav ul li {
	display: inline;
	border-bottom: 2px solid #D6D6D6;
	margin-right: 10px;
	padding-bottom: 2px;
	list-style-type: none;
}

.post {
	padding-bottom: 55px;
	border-bottom: 2px solid #D6D6D6;
}

.post .date {
	font-size: 1.7em;
	margin-top: 1.4em;
}

.post h2 {
	font-size: 1.6em;
	margin-bottom: .4em;
}

.post p:first-letter {
	color: #D6D6D6;
	font-size: 5.2em;
	float: left;
	margin: -23px 9px -20px -6px;
}

.post p {
	margin-top: .5em;
}

.post .more {
	color: #D84432;
	float: right;
	font-weight: 800;
	margin-top: .5em;
}

.footer {
	clear: both;
	padding: 45px 0;
}

.footer p {
	font-weight: 800;
}

.footer a {
	color: #D84432;
	font-weight: 300;
	text-decoration: none;
}

.footer .copyright {
	font-size: .85em;
	margin-top: 1em;
}

img {
	max-width: 100%;
}

